.HomePageBox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.formBox {
  background: #2b2a2a;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer {
  position: fixed;
  bottom: 0;
}
footer a {
  color: #4aee88;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.formLabel {
  margin-top: 0;
  margin-bottom: 20px;
}
.homepage-logo {
  height: 80px;
  margin-bottom: 30px;
}
.inputField {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn {
  background: #4aee88;
  width: 100px;
  margin-left: auto;
}
.joinBtn:hover {
  background: #2b824c;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}
.createNewRoom {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  transition: all 0.3s ease-in-out;
}
.createNewRoom:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}
/* Editor Page */
.editorContainer {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}
.editorLeftBox {
  background: #181717;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.leftInnerBox {
  flex: 1;
}
.logoBox {
  border-bottom: 2px solid #2e2e2e;
  padding-bottom: 10px;
}
.editorLogo {
  height: 60px;
}
.userList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.leaveBtn {
  width: 100%;
  margin-top: 20px;
  font-weight: 550;
  background: #e75656;
}
.leaveBtn:hover{
  background: #a51e1e;
}
/* userContainer */
.userContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}
